
/****************************
About Section
****************************/
.about {
    background-color: $color-two-dark;
    width: 100%;
}
p {
    color: $color-one-dark;
}

.aboutSection {
    background:rgb(110,153,196);
}