/* CSS code for the Contact section. */
label {
    color: $tan;
}
.contactPhoto{
    img{
        width:350px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 0px -19px ;
        overflow: hidden;
    }
}

.contactButton {
    button{
        width: 50px;
        height: 50px;
    }
    img{
        object-fit: fill;
        overflow: hidden;
    }
}