/* CSS code for the Contact section. */
label {
    color: $tan;
}
.contactPhoto{
    img{
        width:350px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 0px -19px ;
        overflow: hidden;
    }
}

.contactButton {
    img{
        object-fit: fill;
        overflow: hidden;
        width: 30px;
        height: 30px;
    }
    li {
        padding-right: 63px;
    }
}