/* ------------------------------
Navbar Section
--------------------------------*/
@import "variables";
.navbar {
    margin-bottom: 0px;
    width: 100%;

}
.navbar li{
    display: inline-block;
}

.navbar ul{
   width: 100%;
   margin-bottom: 0;
}
// Styling for the navbar
#mainNav {
    border-bottom: 1px solid fade-out($gray-900, .9);
    background-color: $white;
    }
.nav-item {
    flex-grow: 1;
    transition: all .3s ease-in-out;
}
.nav-item:hover {
    transform: scale(1.6);
}
.nav-item a{
    text-decoration: none;
    color: royalblue;
}

.flex-box {
    display: flex;
    text-align: center;
    line-height: 72px;
}