/* Variables used throughout will go here. */
$primary-color: #E19E57;	// Main Primary color */
$primary-color-lightest: #FFD9B1;
$primary-color-light: #FFC587;
$primary-color-dark: #C77E32;
$primary-color-darkest: #9E5C17;

$color-one: #47569A;	// Main Secondary color (1) */
$color-one-lightest: #9BA5D3;
$color-one-light: #6976B3;
$color-one-dark: #2F3F88;
$color-one-darkest: #1B296C;

$color-two: #40A562;	// Main Secondary color (2) */
$color-two: #98DAAE;
$color-two: #65BF83;
$color-two-dark: #25924A;
$color-two-darkest: #117432;

// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #F05F40 !default;
$tan: rgb(245,223,202);
$blue: rgb(110,153,196);